# env libs
.venv
.ipynb_checkpoints

# testing folders
/data
/test_saving
/PACS

# data sourses
direct_links.csv
dataframe.csv
data.zip

# models
*.pt
*.pth

# additional
*.zip
*.xlsx

# data
*.npy
*.mp4